<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Web Programming Portfolio{% endblock %}</title> <!--This can be different in every page-->
    <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}" />  <!--This is connect my html to the style.css sheet -->
</head>

<body>
    <header>
    <img src="{{ url_for('static', filename='Logo.png') }}"
         alt="Globe logo"
         class="site-logo"> <!--For Css to recognize it and use it, there are other ways, like using ids but using class is easier since it's not unique + no priority-->

    {% block header %}{% endblock %}
</header>
    {% block navigation %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>

    <footer>
        <p>Web Programming — built with Flask and deployed on Render.</p>
        <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>   
</body>
</html>
