<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The history of the Internet</title>
</head>
<body>
    <header> 
        <h1>The history of the Internet </h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/internet-history">Internet History</a>
        <a href="/web-history">Web History</a>
    </nav>
    <main> 
        <section>
            <h2>What is the Internet?</h2>
            <p>The Internet is a global system of all interconnected
             computer networks, it allows collaboration and 
             communication between individuals and their 
             computers regardless of their geographic locations
             through communication protocols especially TCP/IP. 
             It is one of the most successful revolutions and 
             investments that the World has ever seen.</p>
        </section>

        <section> 
            <h2>TimeLine Of the Internet</h2>

            <article> 
                <h3> The Launch of ARPANET - 1969 </h3>
                <p> The roots of the modern Internet began with
                     the Advanced Research Projects Agency
                     (ARPA) in the late 1960s. ARPANET was
                     created by ARPA to establish
                     communication between research centers
                     and universities for the purpose of
                     sharing resources at different
                     locations through a packet-switched 
                     network. The first ARPANET message 
                     was sent on October 29, 1969, 
                     allowing computers at UCLA and Stanford 
                     Research Institute to communicate</p>
                <a href="https://www.darpa.mil/news/features/arpanet">DARPA - ARPANET</a>
            </article>
            <article> 
                <h3>The idea of an Open-Architecture Networking - 1972</h3>
                <p>Researchers wanted to go beyond simple communication and communicate across different networks instead of connecting through one. This led to the idea of an open architecture introduced by Robert Kahn in 1972 helped by Vint Cerf also known as “internetworking”, that allows connections between networks, each designed and developed differently, having their own unique interface depending on their users’ requirements and specific environment. </p>
                <a href="https://www.internetsociety.org/resources/doc/2017/brief-history-internet/">Internet Society, A Brief History of the Internet</a>
            </article>
            <article>
                <h3>Earlier Transmission Control Program - 1974 </h3>
                <p>In 1974 RFC 675 specifying the Transmission control program was published by Vint Cerf, Yogen Dalal and Carl Sunshine transforming the internetworking from a simple idea into a technical protocol. It explained how communication could happen between interconnected networks. </p>
                <a href="https://www.rfc-editor.org/rfc/rfc675.html">RFC Editor - RFC 675</a>
            </article>
            <article>
                <h3>ARPANET Switches to TCP/IP - 1983 </h3>
                <p>One of the most interesting challenges of ARPANET was switching from NCP to TCP/IP Protocol on January 1, 1983. This transition had been carefully planned by the networking community for several years and went more smoothly than expected. This revolutionary change allowed computers to communicate over multiple independent networks. Nowadays TCP/IP is still the core protocol suite used by the Internet today.</p>
                <a href="https://www.internetsociety.org/wp-content/uploads/2017/09/ISOC-History-of-the-Internet_1997.pdf">Internet Society - A Brief History of the Internet </a>
            </article>
            <article> 
                <h3>Introduction of the Domain Name System (DNS) - 1983</h3>
                <p>In November 1983, the Domain Name System (DNS) was introduced through RFC 882 and RFC 883. DNS simplified communication by allowing users to use easy-to-remember domain names instead of memorizing IP addresses, while the system automatically translates the domain name into the corresponding IP address.</p>
                <a href="https://www.rfc-editor.org/rfc/rfc882.html">RFC Editor - RFC 882</a>
                <a href="https://www.rfc-editor.org/rfc/rfc883.html">RFC Editor - RFC 883</a>
            </article>
            <article>
                <h3>NSFNET-1986</h3>
                <p>U.S National Science Foundation launched NSFNET in 1986 which was one of the most significant TCP/IP-based network connecting academic researchers to a new system of supercomputer centers. At first only 2000 computers were connected, later on the NSFNET expanded rapidly, reaching more than 2 million computers connections in the 1990s.</p>
                <a href="https://www.nsf.gov/impacts/internet">National Science Foundation - Internet / NSFNET</a> 
            </article>
            <article>
                <h3>Decommission of ARPANET - 1990</h3>
                <p>By January 1983, ARPANET had become part of a larger network of networks, which essentially formed the Internet. As the Internet continued to grow, larger networks took over much of ARPANET’s role, which became less necessary. It was officially decommissioned in 1990. This shows how rapidly the Internet grew after the development of interconnections between multiple networks.</p>
                <a href="https://www.internetsociety.org/wp-content/uploads/2017/09/ISOC-History-of-the-Internet_1997.pdf">Internet Society - A Brief History of the Internet</a>
            </article>
            <article> 
                <h3>Decommission of NSFNET - 1995</h3>
                <p>Commercial firms decided to take advantage of the Internet to expand. They began creating their own network infrastructures, leading them to provide their own Internet services. This expansion led to the shutdown of the NSFNET backbone in 1995.</p>
            <a href="https://www.nsf.gov/impacts/internet">National Science Foundation - Internet / NSFNET</a>
            </article>
        </section>
        <section> 
            <h2>Three keys technologies</h2>
        <article> 
            <h3>Packet Switching</h3>
            <p>Packet switching is an important technology used in computer networks. In the 1960s, researchers such as Leonard Kleinrock worked on this idea. A 1965 experiment showed that computers could communicate over long distances, but normal telephone systems were not good for this type of communication. Packet switching solved this problem by dividing data into small parts called packets. These packets can travel through different paths in the network and then be put back together at the destination.</p>
        </article>
        <article>
            <h3>TCP/IP</h3>
            <p>TCP/IP mainly refers to two protocols:</p>
            <ol type="1">
                <li>IP<br> 
                    An Internet protocol(IP) is made to deliver a packet of data from a source to its destination across interconnected networks
                </li>
                <li>TCP<br>
                Transmission control protocol provides reliable data transfer. It detects data loss and errors, and corrects them through retransmission.
                </li>
            </ol>
            <p>TCP/IP is revolutionary because it allows different networks to communicate with each other reliably, making the Internet possible.</p>
        </article>
        <article>
            <h3>Domain Name Space</h3>
            <p>DNS is a system that translates domain names, like google.com, into IP addresses that computers can understand. Before DNS, host names and their corresponding addresses were maintained through centralized lists, which became difficult to manage as the network grew. DNS introduced a distributed system that automatically resolves domain names into IP addresses.</p>
        </article>
        </section>
    </main>
    <footer>
 <p>This website is created for educational purposes only, as part
of the GIN446 — Web Programming course, School of Engineering,
USEK.</p>
</footer>
</body>
</html>                