{% extends "history-base.html" %}

    {% block title %}History of the World Wide Web {% endblock %}

       {% block header %} <h1>History of the World Wide Web </h1> {% endblock %}

        {% block history_content %} 
        <section id="introduction">
                <div class="intro-text">
            <h2>What is the World Wide Web?</h2>
            <p>The World Wide Web Opened a new way to access and connect information through linked pages (hyperlinks). Tim Berners-Lee Invented the World Wide Web while at CERN, the European Particle Physics Laboratory, in 1989. He mainly described it as a place where people can share anything, global, local, draft or even highly polished. The Web works hand in hand with the Internet by providing a system of websites and web pages that users can access through web browsers.</p>
        </div>
        <img
        class="intro-image"
        src="{{ url_for('static', filename='PIC6.png') }}"
        alt="World Wide Web illustration" >
        </section>
        <section id="milestones">
            <h2>Milestones of the History of the World Wide Web</h2>
            <article>
                <h3>1989 </h3>
                <h4>The invention of a new idea</h4>
                <p>Scientists were looking for a way to be able to share and find resources in universities and institutes all over the world for research and knowledge purposes. This is where the idea of the Web was invented by Tim Berners-Lee in 1989, with the objective of combining computer technology, data networks and hypertext into a global information system.</p>
                <a href="https://repository.cern/records/6kxvc-v6203/preview/ARCH-WWW-4-010.pdf" target="_blank">CERN - Tim Berners-Lee’s Original World Wide Web Proposal</a>
            </article>
            <article>
                <h3>1990</h3>
                <h4>The beginning of the Web</h4>
                <p>The World Wide Web started with a simple proposal written by Tim Berners-Lee in March 1989, then formalized with Belgian systems engineer Robert Cailliau as a management proposal in 1990 outlining the importance of the Web. This resulted into the creation of the first World Wide Web server at CERN, developed on the NeXT computer.</p>
                <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html" target="_blank">W3C - A Little History of the World Wide Web</a>
            </article>
            <article>
                <h3>1991</h3>
                <h4>First international system</h4>
                <p>Tim Berners-Lee released his first World Wide Web software. In March 1991, it became available on CERN computers, and later the software became publicly available in August 1991. It included the ‘line-mode’ browser, Web server software, and a library for developers, allowing people to access, share, and navigate information on the Web.</p>
                <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html" target="_blank">W3C - A Little History of the World Wide Web</a>
            </article>
            <article>
                <h3>1991</h3>
                <h4>Going Global</h4>
                <p>After becoming publicly available, many researchers saw the World Wide Web software as an opportunity to make the Web global and accessible over the Internet rather than only locally. On December 12, 1991, the first Web server in the United States, and the first outside Europe, was established at the Stanford Linear Accelerator Center (SLAC) in California.</p>
                <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html"target="_blank">W3C – A Little History of the World Wide Web</a>
            </article>
            <article>
                <h3>1993</h3>
                <h4>Bringing the Web to the World</h4>
                <p>Mosaic was an early graphical web browser released in 1993. It helped make the World Wide Web more popular by allowing users to access and share information through more visual and user-friendly web pages.</p>
                <a href="https://www.ncsa.illinois.edu/about/history/"target="_blank">NCSA - History of Mosaic</a>
            </article>
            <article>
                <h3>1993</h3>
                <h4>Free Web</h4>
                <p>What made the Web accessible to everyone was making the source code royalty-free, meaning that the software was finally free to use on April 30, 1993. This event made the World Wide Web increase in popularity and allowed its expansion worldwide.</p>
                <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html"target="_blank">W3C - A Little History of the World Wide Web</a>
            </article>
            <article>
                <h3>1994</h3>
                <h4>Year of the Web</h4>
                <p>1994 marked a major period of growth for the Web. The first International World Wide Web Conference was held at CERN in May 1994. By the end of that year, CERN reports that the Web had around 10,000 servers and 10 million users that could’ve been creating and/or interacting with web pages.</p>
                <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html"target="_blank">W3C – A Little History of the World Wide Web</a>
            </article>
            <article>
                <h3>1994</h3>
                <h4>World Wide Web Consortium</h4>
                <p>The use of the Web was growing rapidly, and its development needed to be coordinated. This resulted in the founding of the World Wide Web Consortium in October 1994 by Tim Berners-Lee at MIT, in collaboration with CERN and with support from DARPA and the European Commission. W3C helped to coordinate and create common Web standards, helping websites and browsers work consistently together.</p>
                <a href="https://www.w3.org/about/history/"target="_blank">W3C – History of the World Wide Web Consortium</a>   
            </article>
            <article>
                <h3>1996</h3>
                <h4>Introduction of CSS</h4>
                <p>Since the development of the web, it was becoming increasingly hard to format the look of the website, there was a need for a more efficient way to control its style without having to add all the visual presentation right into the HTML code. CSS Level 1 was published as a W3C Recommendation on December 17, 1996 by the World Wide Web Consortium.</p>
                <a href="https://www.w3.org/press-releases/1996/css1-rec/"target="_blank">W3C - CSS1 Recommendation</a>
            </article>
            <article>
                <h3>2014</h3>
                <h4>HTML5 Adoption into Web Standards</h4>
                <p>With the evolution of the Web from a site-based technology to a platform for application development, video, audio, and interactions, there was a need for the HTML technology to grow too. This happened on October 28, 2014, when HTML5 was added by W3C as a Recommendation. HTML5 provided many capabilities required for the Web sites and applications.</p>
                <a href="https://www.w3.org/press-releases/2014/html5-rec/"target="_blank">W3C - HTML5 Recommendation</a>
            </article>
            <article>
                <h3>2019</h3>
                <h4>WebAssembly: A Web Standard</h4>
                <p>As web applications gained more capabilities and started to do things that were only possible using the traditional desktop application, WebAssembly was officially recognized as a Web standard by W3C on December 5, 2019. WebAssembly is a small and efficient binary code that can be executed in web browsers, and it enables developers to build fast Web applications while leveraging other Web technologies like JavaScript.</p>
                <a href="https://www.w3.org/press-releases/2019/wasm/"target="_blank">W3C - WebAssembly Recommendation</a>
            </article>
            <article>
                <h3>2022</h3>
                <h4>HTTP/3 Release</h4>
                <p>The Internet further developed in the direction of speed and reliability of communication, particularly for mobile changing network connections. The HTTP/3 standard was released by the IETF in June 2022 as RFC 9114. HTTP/3 uses QUIC transport protocol and offers capabilities like multiple independent streams and fast connection setup, among others.</p>
                <a href="https://www.rfc-editor.org/rfc/rfc9114.html"target="_blank">RFC Editor - RFC 9114 (HTTP/3)</a>
            </article>
        </section>
         <section id="key-technologies">
            <h2>Key Technologies</h2>

             <article class="TECH-container">
                 <input type="checkbox" id="tech-html" class="TECH-toggle">
                 <label for="tech-html" class="TECH-toggle-label" aria-label="Flip technology card"></label>

                 <div class="TECH-card">
                    <div class="face front">
                        <h3>HTML</h3>
                        <p>Structures the content of web pages</p>
                    </div>
                    <div class="face back">
                         <p>Hypertext Markup Language created by Tim Berners-Lee was used to create and structure
                            content of the web using element like text, images, links, tables, etc. The HTML nowadays has
                            many functions involving:
                            <ol type="a">
                                <li>structure content like headings, paragraphs, lists, tables.</li>
                                <li>Embed media like images, audio, video.</li>
                                <li>Create hyperlinks: navigate across the web.</li>
                                <li>Create forms: text fields, checkboxes, buttons.</li>
                                <li>Specify metadata: title, character set, viewport.</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </article>

            
           <article class="TECH-container">
                 <input type="checkbox" id="tech-http" class="TECH-toggle">
                 <label for="tech-http" class="TECH-toggle-label" aria-label="Flip technology card"></label>

                 <div class="TECH-card">
                    <div class="face front">
                        <h3>HTTP</h3>
                        <p>Transfers data between web browsers and servers</p>
                    </div>
                    <div class="face back">
                         <p>Hypertext Transfer Protocol (HTTP) is a stateless, application-level request/response protocol
                            used for communication between clients and web servers. The client sends an HTTP request to a
                            server, and the server sends back an HTTP response containing the requested resource or
                            information.
                        </p>
                    </div>
                </div>
            </article>
           

           <article class="TECH-container">
                 <input type="checkbox" id="tech-uri" class="TECH-toggle">
                 <label for="tech-uri" class="TECH-toggle-label" aria-label="Flip technology card"></label>

                 <div class="TECH-card">
                    <div class="face front">
                        <h3>URI/URL</h3>
                        <p>Identifies and locates resources on the web</p>
                    </div>
                    <div class="face back">
                         <p>
                A URI (Uniform Resource Identifier) identifies a resource on the Web. A URL (Uniform
                Resource Locator) is a type of URI that provides the address of a resource and indicates how it
                can be accessed.
            </p>

            <h4>URL Anatomy:</h4>
            <p>https://www.example.com/products/shoes?id=25#details</p>

            <table>
                <tr>
                    <td>https</td>
                    <td>protocol used to access the resource</td>
                </tr>
                <tr>
                    <td>www.example.com</td>
                    <td>domain name</td>
                </tr>
                <tr>
                    <td>/products/shoes</td>
                    <td>path to the resource</td>
                </tr>
                <tr>
                    <td>?id=25</td>
                    <td>query, used to send extra information (optional).</td>
                </tr>
                <tr>
                    <td>#details</td>
                    <td>fragment, points to a specific part of the page (optional)</td>
                </tr>
            </table>
                </div>
            </article>
        </section>
        <section id="resources">
            <h2>Resources</h2>
            <a href="https://www.w3.org/People/Berners-Lee/ShortHistory.html"target="_blank">W3C - A Little History of the World Wide Web</a><br>
            <a href="https://repository.cern/records/6kxvc-v6203/preview/ARCH-WWW-4-010.pdf"target="_blank">CERN - Information Management: A Proposal (s-Lee, 1989)</a><br>
            <a href="https://www.ncsa.illinois.edu/about/history/"target="_blank">NCSA - History of NCSA and the Mosaic Web Browser</a><br>
            <a href="https://www.w3.org/about/history/"target="_blank">W3C - History of the World Wide Web Consortium</a><br>
            <a href="https://www.w3.org/TR/html/all/"target="_blank">W3C - HTML Specification</a><br>
            <a href="https://www.rfc-editor.org/rfc/rfc9110.html"target="_blank">RFC 9110 - HTTP Semantics</a><br>
            <a href="https://www.w3.org/press-releases/1996/css1-rec/"target="_blank">W3C - CSS1 Recommendation</a><br>
            <a href="https://www.w3.org/press-releases/2014/html5-rec/"target="_blank">W3C - HTML5 Recommendation</a><br>
            <a href="https://www.w3.org/press-releases/2019/wasm/"target="_blank">W3C - WebAssembly Recommendation</a><br>
            <a href="https://www.rfc-editor.org/rfc/rfc9114.html"target="_blank">RFC Editor - RFC 9114 (HTTP/3)</a><br>
            <a href="https://www.rfc-editor.org/rfc/rfc3986.html"target="_blank">RFC 3986 - Uniform Resource Identifier (URI): Generic Syntax</a><br>
        </section>
        {% endblock %}